<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section class="container">
        <h2>Timer : 
          <span :style="{'color': timer <= 10 ? 'red' : 'black'}">{{ timer }}</span>sec</h2>
      </section>
      <section id="monster" class="container">
        <h2>🐉Monster Health</h2>
        <div class="healthbar">
        <div class="healthbar__value" :style="{'width': monsterHpBar + '%'}"></div>
        </div>
        {{ monsterHP === null ? setting.monsterHP : monsterHP }} / <span>{{ setting.monsterHP }}</span>
      </section>
      <section id="player" class="container">
        <h2>🦸🏻Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{'width': userHpBar + '%'}"></div>
        </div>
        {{ userHP === null ? setting.userHP : userHP }} / <span>{{ setting.userHP }}</span>
      </section>

      <section class="container" v-if="!showControler & !result">
        <h2>Game description</h2>
        <p>You have only a minute.
          <br> 🐉 Attack monster in time
          <br> and get the win🏆!
          <br> then, let's go to get a win!
        </p>
        <button @click="gameBtn">Game start !</button>
      </section>
      <section id="controls" v-else-if="showControler & !result">
        <button @click="attackMonster">ATTACK</button>
        <button :disabled="specialBtn" @click="specialAttack">SPECIAL ATTACK&nbsp;({{ specialTimer }} sec.)</button>
        <button :disabled="healBtn" @click="heal">HEAL&nbsp;({{ healTimer }} sec.)</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section class="container" v-show="!showControler & result !== null">
        <div v-if="result === 'timeover'">
          <h2>TIME OVER</h2>
          You lose..
        </div>
        <div v-else-if="result === 'win'">
          <h2>V I C T O R Y</h2>
          🏆 You win !! 🏆
          <br>I've knew you're good at it!
        </div>
        <div v-else-if="result === 'lose'">
          <h2>LOSE..</h2>
          But i think you can get a win to try it again,
          <br> How about you try it again?
        </div>
        <div v-else-if="result === 'draw'">
          <h2>DRAW</h2>
          Well done ! but..
          <br>should we try to get a win? how about you?
        </div>
        <div v-else-if="result === 'surrender'">
          <h2>SURRENDER</h2>
          Are you serious?
        </div>
        <button @click="gameStart">Start Again</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul v-for="record in logRecords">
          <li><span :class="{'log--player' : record.by === 'You',  'log--monster' : record.by === 'Monster'}">{{ record.by }}&nbsp;</span>  
              <span style="font-weight: bold;" :class="{'log--damage' : record.type === 'attack' || 'spacial attak', 'log--heal' : record.type === 'heal'}">{{ record.type }} &nbsp;</span>  
              <span :class="{'log--player' : record.to === 'you', 'log--monster' : record.to === 'monster'}">{{ record.to }} &nbsp;</span>  
              <span>{{ logDamage(record.by, record.type) }}&nbsp;</span>
              <span :class="{'log--damage' : record.val < 0, 'log--heal' : record.val > 0}">{{ record.val }}</span>
          </li
        </ul>
      </section>
    </div>
  </body>
</html>
